@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* ────────── base layer ────────── */
@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
    --text: var(--color-red-500);
  }

  .dark {
    --background: #171717;
    --foreground: #ffffff;
    --text: var(--color-blue-500);
  }
}

/* ────────── theme ────────── */
@theme inline {
  /* colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-text: var(--text);

  /* fonts */
  --font-sans: var(--font-inter);
  --font-display: var(--font-manrope);
}

@theme {
}

/* ────────── global css ────────── */
body {
  background: var(--background);
  color: var(--foreground);
}
